/* GLOBAL */
* {
  box-sizing: border-box;
}

/* GLOBAL FONT */
body * {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html,
body {
  height: 100%;
}

/* PAGE BACKGROUND */
body {
  overflow: auto;
  background-color: rgb(2, 69, 16);
}

/* SECTION: HEADER */
header {
  display: flex;
  min-height: 10vh;
  justify-content: center;
  align-items: center;
  color: rgb(120, 201, 248);
}

/* SECTION: MAIN */
main {
  display: flex;
  min-height: 80vh;
  justify-content: center;
  align-items: center;
}

/* SECTION: FOOTER */
footer {
  min-height: 10vh;
  color: white;
}

footer .ftr-content.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* ANCHORS */
a {
  color: rgb(57, 176, 244);
}

/* CALCULATOR OVERALL DIMENSIONS */
.outer.container {
  width: 350px;
  height: 650px;
}

/* BUTTON GRID */
.inner.grid.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    "display display display display"
    "top-btn top-btn top-btn op-btn"
    "num-btn num-btn num-btn op-btn"
    "num-btn num-btn num-btn op-btn"
    "num-btn num-btn num-btn op-btn"
    "num-btn num-btn dot-btn equals-btn";
  grid-template-rows: 1.2fr repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  justify-content: center;
  align-content: center;
  background-color:rgb(96, 85, 85);
  padding: 3px;
  border: 2px solid black;
  border-radius: 1%;
}

/*  CALCULATOR OUTPUT-DISPLAY BOX */
.display.container {
  padding: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
  border: 2px solid black;
  border-radius: 15%;
  background-color: rgb(221, 212, 212);
  grid-column: 1 / 5;
  font-size:3.5em;
}

/* CALC OUTPUT TEXT */
.display.txt {

}

/* ALL BUTTONS */
.btn {
  font-size: 2em;
  border-radius: 10%;
}

/* NUMBER BUTTONS */
.btn.num-0 {
  grid-column: 1 / 3;
}

.btn.num {
  background-color: rgba(44, 187, 44, 0.962);
}

/* MODIFIER BUTTONS */
.btn.modifier {
  background-color: rgba(229, 59, 37, 0.931);
}

/* OPERATOR BUTTONS */
.btn.operator {
  background-color: rgba(237, 159, 13, 0.953);
}

/* EQUALS BUTTON */
.btn.equals {
  background-color: rgba(255, 255, 23, 0.95);
}

